.elementor-227 .elementor-element.elementor-element-6881cd59 > .elementor-container{max-width:1125px;}.elementor-227 .elementor-element.elementor-element-eee3954{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}/* Start custom CSS for section, class: .elementor-element-6881cd59 */.ere-property-wrap{
    width: 1125px!important;
    margin: 0 auto;
}
.property-inner {
    border-radius: 15px;
    background: #EBE9E9!important;
    /*box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);*/
}
.ere-property:not(.property-list) .property-inner {
}
.ere-property .property-item-content .property-title a{
    font-family: Source Serif Pro;
    font-size: 20px;
    font-weight: 600;
    color: #0A2546!important;
}
.ere-property .property-item-content .property-title a:hover{
    color: #0A2546!important;
}
.ere-property.property-grid .property-heading ,
.ere-property .property-element-inline{
    padding-left: 27px;
    padding-right: 27px;
}
.ere-property .property-image {
    margin: -15px -15px 0 -15px!important;
}
.ere-property:not(.property-zigzac) .property-location{
    margin-left: 27px;
}
.ere-property.property-grid .property-info{
    background: #bbbbbb!important;
}
.ere-property .property-item-content .property-info .property-info-inner>div:not(.tooltip) .property-info-value,.fa-hotel:before,.fa-bath:before  {
    color: #fb6a19;
}
.ere-property .property-item-content .property-info .property-info-inner>div:not(.tooltip) .property-info-value {
    color: black!important;
}
@media screen and (max-width:1200px){
    .ere-property-wrap{
        width: 900px!important;
        margin:0 auto;
    }
}/* End custom CSS */